*{
    box-sizing: border-box;
    margin:0;
}

.homebody {

    background-image:url('images/homeimage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}

nav a.active{
    
    color:black;
    background-color: cyan;

}

nav a:hover:not(.active){
    color:skyblue;
    background-color: rgb(45, 28, 199);
}

a{
    color: blue;
    text-decoration: none;
}

li {
  
    text-align:center;
    display:inline-block;
    padding: 10px;
    font-size: 40px;
    
}

.main{
    margin-top: 60px;
    margin-right: 30px;
    text-align: center;
    color:skyblue;
    font-size:100px;
    
}

.gallerybody{

    background-color:lightblue;
    
}

.gallery .pic {

    float:left;
    display:grid;
    margin:20px 20px 20px 20px;
    
}

.pic img{
   
    border-radius: 20px;

}

.aboutmebody {

    background-image:url('images/about.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}

.intro{
    margin-top: 80px;

    font-size: 30px;
    grid-template-columns: repeat(2,1fr);

}
.infoimg img{
   border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    float: left;
}

.aboutinfo{
    margin-left:0px;
}

.contactbody{
    background-image: url('images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover  ;
}

.contactinfo .contact{ 

    margin:10px 10px 10px;
    
}

.contactinfo .contact {
  margin-left: 10px;
  position:relative;
  display:flex;
}

.contactinfo .contact .content p{
margin:20px 20px 20px 20px;
font-size: 30px;
color:white;
}

.contactinfo .contact .content p:hover{
color:royalblue;
}

.contactinfo .contact .img1 img{

    height: 70px;
    width: 70px;
    
}

